.multiselect-search{
    height: 100vh;
    padding: 2em;
}
.multiselect-search .active{
    display: none;
}

.multiselect-search .form-group{
    height: 75vh;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1em;
}

.multiselect-search .btn-li-items{
   padding:1em 0;
   display: flex;
   justify-content: space-between;
}

.multiselect-search .ul-el{
    list-style:none;
    margin: 0;
    padding: 0;
}

.multiselect-search .ul-el .list-items{
    border-bottom:1px solid rgb(230, 227, 227) ;
    padding:.5em;
}

.multiselect-search .list-items .check{
    margin-right: 10px;
}

.multiselect-search .list-items .mcheckbox-label{
    margin: 0;
}